<% provide(:title, "Home") %>

<div class="">

  <h1>Home Page Placeholder</h1>

  <%= link_to "Create Student Account!", signup_path, class: "" %>
  <%= link_to "Create Mentor Account!", signup_path, class: "" %>


  <%= link_to image_tag("logo", alt: "Kaizen logo"), root_path %>

</div>
