<% provide(:title, @user.first_name) %>
<div class="">
  <aside class="">
    <section>
      <h1>
        <%= gravatar_for(@user) %>
        <%= @user.first_name %>
      </h1>
    </section>
  </aside>
</div>
