<header class="">
  <div class="">
    <%= link_to "KaizenApp", root_path, id: "" %>
    <nav>
      <ul class="">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
